name: CI

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  generate-matrix:
    uses: solaluset/python-version-matrix/.github/workflows/generate.yml@v1.0
    with:
      runners: '[
        "ubuntu-22.04"
      ]'
      min-version: "3.7"
      include-pre-releases: true
      implementations: '["CPython", "PyPy"]'

  CI:
    needs: [generate-matrix]
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - shell: bash
      run: |
         pip install -r requirements.txt
         git submodule update --init --recursive

    - name: Build
      shell: bash
      run:  |
         python setup.py build

    - name: Test
      shell: bash
      run:  |
         python -m unittest discover -b -s tests -p '*.py'

    - name: Install
      shell: bash
      run:  |
         python setup.py install
         pypp --version
